Content-Type: text/html; charset="utf8"

<!DOCTYPE html>
<html>
<body>

<p>尊敬的${NAME}，</p>

<p>您好。我是北京医诺医链医疗科技有限公司的负责人周远征。邮件目的是介绍好医链项目，希望能和您有进一步沟通的机会。</p>

<p>好医链以基于区块链技术的医疗数据分享为核心，建立去中心化医疗价值生态系统。好医链价值生态系统由三大部分组成：</p>

<ol>
<li>医生云诊所：为全球医生、医生集团搭建线上诊所，打造医生个人IP，连接全球医患。利用AI小助手根据患者症状，自动完成分诊，为患者找到最合适的医生，为医生找到高质量的患者。通过医疗过程中的问诊、治疗、回访等一系列活动，沉淀病历、诊断结果、治疗方案等医疗数据。医生云诊所汇聚医疗数据，是生态系统中医疗数据的“生产者”。</li>
<li>医疗数据共享：在好医链中，医疗数据完全属于所有者，只有得到所有者授权，才能使用其医疗数据。患者、医生、第三方机构彼此之间进行医疗数据共享，满足各方医疗数据诉求，提高医疗数据的使用率，让医疗数据产生更多价值。医疗数据共享让医疗数据得到充分利用，是生态系统中医疗数据的“消费者”。</li>
<li>医疗搜索引擎：医疗搜索引擎能够更好地让用户搜索医疗信息、病历信息等医疗数据。搜索引擎的底层匹配系统也能根据医患的数据特性，做精准匹配，为患者找到最适合自己的医生，提高诊疗效率。医疗搜索引擎整合医疗数据，匹配各方用户诉求，是生态系统中医疗数据的“分解者”。</li>
</ol>

<p>公司核心成员来自腾讯、<a href="https://www.thoughtworks.com/cn/about-us">ThoughtWorks</a>。我们满怀热忱希望为患者和医疗行业贡献自己的一份力量。</p>

<p>附件是详细BP。我的电话/微信：18066727221。</p>

<p>感谢您的时间，祝您工作顺利。</p>

</body>
</html>


