Content-Type: text/html; charset="utf8"

<!DOCTYPE html>
<html>
<body>

<p>尊敬的${NAME}，</p>

<p>您好。我是北京医诺医链医疗科技有限公司的负责人周远征。邮件目的是介绍启明医生项目，希望能和您有进一步沟通的机会。</p>

<p>启明医生是基于区块链的大病再问诊平台，连接患者和医生，专注为大病患者（癌症肿瘤、心脑血管等疾病患者），提供权威的第二次诊疗意见及就医路径规划。</p>

<p>第二次诊疗意见指在个人罹患疾病或遭受意外伤害并已经获得诊断（也就是第一医疗意见）的基础上，咨询遍布世界各地的顶尖级医疗机构所组成的咨询网络，向患者提供专业书面医疗建议。</p>

<p>公司核心成员来自腾讯、<a href="https://www.thoughtworks.com/cn/about-us">ThoughtWorks</a>。我们满怀热忱希望为患者和医疗行业贡献自己的一份力量。</p>

<p>附件是详细BP。我的电话/微信：18066727221。</p>

<p>感谢您的时间，祝您工作顺利。</p>

</body>
</html>
